<mat-dialog-content>
  <h1>Add a Client</h1>
  <div [formGroup]="clientForm">
    <mat-form-field>
      <input formControlName="first_name"
             matInput
             placeholder="First Name*">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="last_name"
             matInput
             placeholder="Last Name*">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="email"
             matInput
             placeholder="Email*">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birth Date</mat-label>
      <input formControlName="birth_date"
             matInput
             [matDatepicker]="picker"
             [max]="maxDate">
      <mat-datepicker-toggle matIconSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="ip_address"
             matInput
             placeholder="IP Address*">
    </mat-form-field>

    <mat-radio-group formControlName="status">
      <mat-radio-button value="L">Lead</mat-radio-button>
      <mat-radio-button value="D">Demo</mat-radio-button>
      <mat-radio-button value="C">Client</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="error"
       class="error-container">{{error}}</div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          (click)="save()"
          [disabled]="clientForm.invalid || saving"
          [class.spinner]="saving">Save</button>
  <button mat-raised-button
          color="warn"
          matDialogClose>Cancel</button>
</mat-dialog-actions>