:host{
  display: block;
  padding: 30px 100px;
}

.filters-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  app-client-filters{
    flex: 4;
  }

  .add-client{
    flex: 1;
    button{
      float: right;
    }
  }
}

.spinner-container, .error-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.error{
  color: red;
}