<div class="filters-container">
  <app-client-filters (formInitialized)="listenToFiltersForm($event)"></app-client-filters>

  <div class="add-client">
    <button mat-raised-button
            color="primary"
            (click)="openDialog()">Add Client</button>
  </div>
</div>

<div *ngIf="loadingData"
     class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<app-clients-list *ngIf="!loadingData && !error"
                  [clients]="clients"></app-clients-list>

<div *ngIf="!loadingData && error"
     class="error-container error">
  {{error}}
</div>