<table *ngIf="clients?.length"
       mat-table
       [dataSource]="clients ?? []">
  <ng-container matColumnDef="first_name">
    <th mat-header-cell
        *matHeaderCellDef>First Name</th>
    <td mat-cell
        *matCellDef="let client">{{ client.first_name }}</td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell
        *matHeaderCellDef>Last Name</th>
    <td mat-cell
        *matCellDef="let client">{{ client.last_name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell
        *matHeaderCellDef>Email</th>
    <td mat-cell
        *matCellDef="let client">{{ client.email }}</td>
  </ng-container>

  <ng-container matColumnDef="birth_date">
    <th mat-header-cell
        *matHeaderCellDef>Birth Date</th>
    <td mat-cell
        *matCellDef="let client">{{ client.birth_date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="registration_date">
    <th mat-header-cell
        *matHeaderCellDef>Registration Date</th>
    <td mat-cell
        *matCellDef="let client">{{ client.registration_date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="ip_address">
    <th mat-header-cell
        *matHeaderCellDef>IP Address</th>
    <td mat-cell
        *matCellDef="let client">{{ client.ip_address }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell
        *matHeaderCellDef>Status</th>
    <td mat-cell
        *matCellDef="let client">{{ client.status | clientStatus }}</td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let clientrow; columns: displayedColumns"></tr>
</table>

<h1 *ngIf="!clients?.length"
    class="no-data">No Data</h1>