<div class="filters-container"
     [formGroup]="filtersForm">
  <mat-form-field>
    <input formControlName="q"
           matInput
           placeholder="Search">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Search by birth date</mat-label>
    <input formControlName="birth_date"
           matInput
           [matDatepicker]="picker"
           [max]="maxDate">
    <mat-datepicker-toggle matIconSuffix
                           [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="status-container">
    <div *ngFor="let option of statusCheckboxOptions; let index=index"
         formArrayName="status">
      <mat-checkbox (change)="handleCheckboxChange($event, option, index)"
                    [formControlName]="index"
                    [value]="option">{{ option | clientStatus }}
      </mat-checkbox>
    </div>
  </div>
</div>